'.source.ts':
	'Jasmine element by css':
		'prefix': 'by-css'
		'body': """let ${2:el} = element(by.css("$1"));$3"""

	'Jasmine element by id':
		'prefix': 'by-id'
		'body': """let ${2:el} = element(by.id("$1"));$3"""

	'Protractor perform click':
		'prefix': 'browser-click'
		'body': """
		browser.actions()
			.mouseMove(${1:htmlelement}, { x: ${2:10}, y: ${3:10} })
			.click()
			.perform();

		$4
		"""

	'Protractor perform double click':
		'prefix': 'browser-dclick'
		'body': """
		browser.actions()
			.mouseMove(${1:htmlelement}, { x: ${2:10}, y: ${3:10} })
			.doubleClick()
			.perform();

		$4
		"""
